*{
    padding:0;
    box-sizing: border-box;
    margin: 0;
}

/* dice 1 start */
.dice1 {
    display:flex;
    align-items:center;
    justify-content:center;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5%;
    padding: 5%;
    background-color: #98d7c5;
  }
  .circle1 {
    background-color: red;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%
  }
/* dice 1 end */
  
/* dice 2 start */
  .dice2 {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5%;
    display:flex;
    justify-content: space-between;
    padding: 5%;
    background-color: #98d7c5;
  }
  
  
  .circle2 {
    background-color: red;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%
  }
  
  .bottom-circle2 {
    margin-top:auto;
  }
/* dice 2 end */
  
/* dice 3 start */
  .dice3{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5%;
    padding: 5%;
    display:flex;
    justify-content: space-between;
    background-color: #98d7c5;
  }
  
  .circle3 {
    background-color: red;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%
  }
  
  .center-circle3 {
    margin: auto auto;
  }
  
  .bottom-circle3 {
    margin-top: auto;
  }
/* dice 3 end */

/* dice 4 start */
  .dice4  {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5%;
    padding: 5%;
    display:flex;
    justify-content: space-between;
    background-color: #98d7c5;
  }
  
  .circle4{
    background-color: red;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%; 
  }
  
  .left-circle, .right-circle {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
  } 
/* dice 4 end */
  
/* dice 5 start */
  .dice5  {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5%;
    padding: 5%;
    display:flex;
    justify-content: space-between;
    background-color: #98d7c5;
  }
  
  .circle5{
    background-color: red;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%; 
  }
  
  .left-circle, .right-circle {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
  }
  
  .center-circle5 {
    margin: auto;
  }
/* dice 5 end */
  
/* dice 6 start */
  .dice6  {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5%;
    padding: 5%;
    display:flex;
    justify-content: space-between;
    background-color: #98d7c5;
  }
  
  .circle6{
    background-color: red;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%; 
  }
  
  .left-circle, .right-circle {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
  }
/* dice 6 end */

h1 {
    text-align: center;
    margin-top: 1.5em;
}

.container1 > h3, .container2 > h3 {
    text-align: center;
    margin: 10% 0;
    font-size: 1.5rem;
}

.parent-container {
    display:flex;
    
    justify-content:center;
    gap: 10%;
}

button {
    display:block;
    margin: 5% auto;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #3a86ff;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #cc
}

button:active {
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
  }

button:hover{
    background-color: #0252d2;
}